.galeria-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.galeria-publicaciones {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    flex: 1;
}
